html, body { font-family: 'Montserrat', sans-serif; text-align: center; color: #444; font-size: 18px; scroll-behavior: smooth; scroll-snap-type: y mandatory; }
p { text-align: left; font-size: 12px; }
h1, h2, h3 { color:#266491; font-weight: 500; }
h4, strong { color: white; }
hr { max-width: 150px; height: 1px; background-color: #fdb834; border-radius: 2px; }
.anchor { display: block; position: absolute; top: -60px; visibility: hidden; }
.bottom-right { position: fixed; bottom: 0; right: 0; width: 20vw; max-width: 180px; }
.section {
  scroll-snap-align: end;
  height: calc(100vh - 60px);
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 60px;
}

#header {
  padding-top: 5px;
  background-color: #fdb834;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header-row { display: flex; align-items: center; height: 60px; }
.header-row .leaf { height: 60px; align-self: flex-end; }
.header-row .header-title img { height: 10vw; height: 35px; }
.header-row h2 { padding-top: 0.75vw; font-size: 16px; }
.header-title { transform: translateX(-5vw); margin: 0 auto 0.8rem; }
.hamburger { padding: 0px; }
.hamburger span { color: white; }

.text-box { background-color: rgba(255, 255, 255, 0.9); border-radius: 20px; margin: 5px; padding: 20px; }
.text-box h2 { margin-bottom: 1rem; }

.carousel-control-next-icon, .carousel-control-prev-icon { background-image: none; margin-top: 2rem; align-self: flex-start; }
.carousel-control-next-icon:after {
  content: '►';
  font-size: 24px;
  color: #444;
}
.carousel-control-prev-icon:after {
  content: '◄';
  font-size: 24px;
  color: #444;
}

.padding-block { height: 60px; z-index: -1; }

#nav-menu { background-color: white; }
.nav-menu { height: calc(100vh - 60px); display: flex; flex-direction: column; justify-content: space-between; }
.nav-menu ul { padding: 0px; list-style: none; }
.nav-menu li { font-size: 3.5vh; padding: 2vh; }
.nav-menu a { color: #266491; }

/* Desktop height adjustments */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  p { font-size: 16px; }
  .header-row { height: 100px; }
  .header-row .leaf { height: 100px; }
  .header-row .header-title img { height: 80px; }
  .padding-block { height: 100px; z-index: -1; }
  .nav-menu { height: calc(100vh - 100px); }
  .section { padding: 5rem 0; height: calc(100vh - 100px);}
  .anchor {top: -100px;}

  #testimonials-section .quote { font-size: 22px; }
  #testimonials-section p { font-size: 16px; }
}

#our-mission-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#global-problem-section { background-image: url('../assets/pills.jpg'); background-size: cover; display: flex; flex-direction: column; align-items: center; }

#our-story-section { background-image: url('../assets/oxford.jpg'); background-size: cover; display: flex; flex-direction: column; align-items: center; }

#what-we-do-section {
  background-image: url("../assets/vr-kids.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonials-section .quote { font-size: 16px; color: #444; font-style: italic; margin: 0 0.5rem; }
#testimonials-section p { color: #266491; font-size: 12px; text-align: center; }

#our-partners-section {
    background-image: url("../assets/sky-parachutes.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#our-partners-section hr { background-color: white; }
#our-partners-section h3 { color: white; }
.partners { display: flex; flex-wrap: wrap; justify-content: center; padding: 0px; }
.partners li { list-style-type: none; margin: 80px; }

#team-section .text { text-align: left; }
.team-members { display: flex; flex-wrap: wrap; justify-content: center; }
.team-member .text h4, p, strong { color: #444 }
.team-member .collapse { margin: 0 auto; }
.team-member-row img { width: 80vw; max-width: 200px; }
.team-member-row { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
.team-info-row { display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;}
.team-member-row * { margin: 5px; }
.team-member-row p { margin-left: 0px; }
.team-info-row img { width: 20px; }
.team-info-row a { color: #266491; }

#find-more-section { background-color: #f2f2f2 }
#find-more-section a { color: #266491; }
#find-more-section p { margin-bottom: 40px; }
#find-more-section input[type="text"] { font-size: 14px; }
#find-more-section form { font-size: 10px; width: 80vw; max-width: 600px; background-color: white; padding: 20px; border-radius: 10px; margin-top: 10px; }
#find-more-section select { height: 35px; margin: 5px; }
#contact { text-align: left; max-width: 400px; margin: 0 auto; font-size: 10px; }
.form-control { font-size: 12px; }
.form-group { margin-bottom: 0.5rem; }
.cbGroup { display: flex; margin: 0; }
.cbGroup input { width: auto; margin-right: 5px; }
.twitter-follow-button { margin-top: 20px; margin-left: auto; margin-right: auto; }
.linkedin-follow iframe { width: 100px; height: 44px; margin-top: 20px; margin-left: auto; margin-right: auto; }

.footer {
  width: 100%;
  z-index: 1;
  padding: 30px 0;
  background-color: #333;
  text-align: center;
}
.footer h3 {
	color: #ffffff;
	font-size: 17px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 10px;
	line-height: 1.3em;
}
.footer p {
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	margin: 0;
	line-height: 1.3em;
  text-align: center;
}
.footer a.email:link, .footer a.email:visited, .footer a.email:active {
	color: #fdb834;
	font-size: 17px;
	font-weight: 600;
	transition: all 0.5s ease;
	margin-bottom: 20px;
}
.footer a.email:hover, .footer a.email:visited:hover, .footer a.email:focus {
	text-decoration: underline;
	outline: 0 none;
	color: #fdb834;
	transition: all 0.5s ease;
}
.footer hr {
  border-top: 1px solid #fff;
	width: 130px;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.15
}
.footer .li {
	width: 28px;
	height: 27px;
	margin-right: 5px;
	display: inline-block;
}
.footer .tw {
	width: 31px;
	height: 27px;
	margin-left: 5px;
	display: inline-block;
}
.footer .social-media .li:hover, .footer .social-media .tw:hover {
	opacity: 0.5;
	color: #333;
	cursor: pointer;
	text-decoration: none;
}
.social-media {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

#privacy li { text-align: left; }
#privacy h3 { padding: 20px; }
